body {
    background-color: rosybrown;
	/* Use a system font, if none are available use an available sans-sarif   font */
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
text-align: center;
}

section.board {
  display: grid;
  grid-template-rows: repeat(3, 10vmin);
  grid-template-columns: repeat(3, 10vmin);
  grid-gap: 0vmin;
}

div {
  border: 3px solid black;
  font-size: 8vmin;
  text-align: center;
  vertical-align: middle;
}

button{
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  background-color: transparent;
  border: 1px solid rgba(0,0,0);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
}